<!-- Header
============================================ -->
<div class="header-area animated">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
                <!--Header Logo-->
				<div class="header-logo float-left">

					<%= image_tag("logo-blue.png", class: "logo", width: 100, height: 30) %>
				</div>
                <!--Main Menu-->
				<div class="main-menu float-right">
					<nav>
						<ul>
							<li><%= link_to "home", root_path(anchor: "intro") %></li>
							<li><%= link_to "about", root_path(anchor: "about") %></li>
							<li><%= link_to "resume", root_path(anchor: "resume") %></li>
							<li><%= link_to "projects", json_parser_projects_path %></li>
							<li><%= link_to "services", root_path(anchor: "service") %></li>
							<li><%= link_to "contact", root_path(anchor: "contact") %></li>
						</ul>
					</nav>
				</div>
				<!--Mobile Menu-->
				<div class="mobile-menu"></div>
			</div>
		</div>
	</div>
</div>
