<!-- Header
============================================ -->
<div class="header-area animated">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
                <!--Header Logo-->
				<div class="header-logo float-left">

					<%= image_tag("logo-blue.png", class: "logo", width: 100, height: 30) %>
				</div>
                <!--Main Menu-->
				<div class="main-menu float-right">
					<nav>
						<ul>
							<% if params[:controller] == "static_pages" && params[:action] == "index" %>
								<li><%= link_to "home", "#intro", method: :get %></li>
								<li><%= link_to "about", "#about", method: :get %></li>
								<li><%= link_to "resume", "#resume", method: :get %></li>
								<li>
								  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<span class="caret"></span></a>
								  <ul class="dropdown-menu">
								    <li><%= link_to "JSON Parser", json_parser_projects_path, method: :get %></li>
								    <li><%= link_to "Unbeatable Tic-Tac-Toe", ttt_index_projects_path, method: :get %></li>
								  </ul>
								</li>
								<li><%= link_to "services", "#service", method: :get %></li>
								<li><%= link_to "contact", "#contact", method: :get %></li>
							<% else %>
								<li><%= link_to "home", root_path(anchor: "intro"), method: :get %></li>
								<li><%= link_to "about", root_path(anchor: "about"), method: :get %></li>
								<li><%= link_to "resume", root_path(anchor: "resume"), method: :get %></li>
								<li>
								  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<span class="caret"></span></a>
								  <ul class="dropdown-menu">
								    <li><%= link_to "JSON Parser", json_parser_projects_path, method: :get %></li>
								    <li><%= link_to "Unbeatable Tic-Tac-Toe", ttt_index_projects_path, method: :get %></li>
								  </ul>
								</li>
								<li><%= link_to "services", root_path(anchor: "service"), method: :get %></li>
								<li><%= link_to "contact", root_path(anchor: "contact"), method: :get %></li>
							<% end %>
						</ul>
					</nav>
				</div>
				<!--Mobile Menu-->
				<div class="mobile-menu"></div>
			</div>
		</div>
	</div>
</div>
