<!DOCTYPE html>
<html>
  <head>
    <title>Tony Moey Malaysia | Professional Web Developer, Product Designer and Project Manager</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2c62e0">
    <meta name="theme-color" content="#ffffff">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    <%= favicon_link_tag 'favicon.ico' %>

  	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  </head>

  <body>
    <!-- Preloader -->
    <% if params[:controller] == "static_pages" && params[:action] == "index" %>
      <div class="preloader">
      	<div class="spinner">
      	  <div class="double-bounce1"></div>
      	  <div class="double-bounce2"></div>
      	</div>
      </div>
    <% end %>

    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
