<!DOCTYPE html>
<html>
  <head>
    <title>Tony Moey Malaysia | Professional Web Developer, Product Designer and Project Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    <%= favicon_link_tag 'favicon.ico' %>

  	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  </head>

  <body>
    <!-- Preloader
    ============================================ -->
    <div class="preloader">
    	<div class="spinner">
    	  <div class="double-bounce1"></div>
    	  <div class="double-bounce2"></div>
    	</div>
    </div>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
